.prnt-dsh{margin:0;}

.rcnt-acts,.grps-cls{background: #fff; padding: 1%; margin-top: 1%; border-radius: 4px;}
.rcnt-hd,.grps-hd{font-size: 20px;color: #283e4a;font-weight: 500;}


.list-cls ul{margin-top: 0; margin-bottom: 10px;border-bottom: 1px solid #e0e0e0;}
.list-cls ul>li{display: inline-block;width: 25%; text-align: center;padding: 3px;}
.userloggedOut{ background: red; width: 34px; height: 34px; border-radius: 50%;  }
.userloggedIn{ background: #5cb85c; width: 34px; height: 34px; border-radius: 50%;  }
.userloggedOut img, .userloggedIn img{ margin-left:0px;} 

.view-detail{background: #283e4a; color: #fff; padding: 4px 17px; font-size: 13px; font-weight: 500; border-radius: 2px; border: 1px solid #283e4a; margin: 0px 5px;}
.view-detail:hover{color: #283e4a;background: #fff;}