
.prnt-navbar{ height: 52px; background-color: #283e4a; background-image: none;border-radius:1px;}

.hd-hr{ color: #fff !important;}
.navbar-nav>li>a {margin: 0px; padding: 0px;}
.img-div{border-radius: 27px; width: 34px; background: #5cb85c; height: 34px; cursor: pointer; margin-top: 5px;}
img{ border-radius: 50%; width: 30px; height: 30px; margin-top: 2px; margin-left: 2px; }